button {
  background-color: #4056A1;
  font-family: "bungee";
  color: #FFFFFF;
  
}
.counter {
  font-family: "Bungee";
  font-size: 1em;
}
.button-count {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.textbox {
  display: flex;
  flex-direction: column;
}
#tweet-text {
  background:none;
  resize: none;
  border:none;
  border-bottom-style: solid;
  border-bottom-color: #545149;
  outline: none;

}
.new-tweet {
  padding: 1%;
  display: none;
}

article {
  border-style: solid;
  margin: 3%;

}


.profile-pic-name {
display: flex;
justify-content: flex-start;
}


img {
  height: fit-content;
  padding-right: 10%;
}

.tweet-header {
  margin: 1%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.handle {
  color:lightgray;
  font-size: 1em;
  margin-top: 1%;
  visibility: hidden;
}
article:hover .handle {
  visibility: visible;
}
.bottom-footer-a {
  margin: 5%;
}
.bottom-footer-b {
  border-top: solid;
  margin: 2%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 font-size: 1em;
 
}
.margin-b.handle{
  color: #545149;
}
.margin-a {
  margin-top: 0%;
}

.margin-b {
  margin-top: 0%;
}
article:hover {
  box-shadow: 1vw 1vw grey;
}

#error-message {
  margin: 2%;
  border-width: thin;
  border-style: solid;
  border-color: red;
  box-shadow:1px 1px 3px #888;
  display: none;
  color: #D8000C;
  background-color: #FFD2D2;
  text-align: center;
}

