button {
  background-color: #4056A1;
  font-family: "bungee";
  color: #FFFFFF;

}

.counter {
  font-family: "Bungee";
  font-size: xx-large;
}
.button-count {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.textbox {
  display: flex;
  flex-direction: column;
}
#tweet-text {
  background:none;
  resize: none;
  border:none;
  border-bottom-style: solid;
  border-bottom-color: #545149;

  outline: none;
  height: 50px;

}
.new-tweet {
  padding: 1.5em;
}